h1 {
    color: #a52a2a;
}
.div1{
    border: solid;
    display: flex;
    justify-content:space-between
}
.div3{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap
}
.div4{
    text-align: center;
}
*{
    background-color: #dcf5e2;
}
img{
    height: 300px;
    width:300px;
}
